@model IEnumerable<clases.Models.MODULO_SALA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MODULO.ID_MODULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALA.NOMBRE_SALA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MODULO.ID_MODULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALA.NOMBRE_SALA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_MODULO_SALA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_MODULO_SALA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_MODULO_SALA })
        </td>
    </tr>
}

</table>
