@model IEnumerable<clases.Models.SECCION_PROFESOR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PROFESOR.NOMBRE_PROFESOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECCION.NOMBRE_SECCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PROFESOR.NOMBRE_PROFESOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECCION.NOMBRE_SECCION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PROFE_SECCION }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PROFE_SECCION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PROFE_SECCION })
        </td>
    </tr>
}

</table>
