@model IEnumerable<clases.Models.RAMO_PROFESOR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PROFESOR.NOMBRE_PROFESOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAMO.NOMBRE_RAMO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PROFESOR.NOMBRE_PROFESOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAMO.NOMBRE_RAMO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_RAMO_PROFE }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_RAMO_PROFE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_RAMO_PROFE })
        </td>
    </tr>
}

</table>
