@model IEnumerable<clases.Models.HISTORIAL_CURSO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO_CLASE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLASE.ESTADO_PROFESOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO_CLASE.NOMBRE_ESTADO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO_CLASE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLASE.ESTADO_PROFESOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_CLASE.NOMBRE_ESTADO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_HISTORIAL }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_HISTORIAL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_HISTORIAL })
        </td>
    </tr>
}

</table>
